.jumbotron
  .content
    .text-center
      %h1 Sunline
      %h2 A lightweight script and log management tool
      = form_tag user_github_omniauth_authorize_path, method: 'post' do
        %button.btn.btn-primary.btn-lg
          %i.fa.fa-sign-in-alt
          = t(:button_sign_in)


