%h3
  %ul.breadcrumb
    %li
      = link_to t(:title_scripts), scripts_path
      %span.divider &raquo;
    %li
      = link_to @script.name, script_path(@script)
      %span.divider &raquo;
    %li= t(:title_edit)

= render 'form'

