# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2044ab2c5d1bc61cbfa3d7a704679c076eb7b54099dcde037fe3e70190698ddeaa8b12caeed10a2add3c8d60f8dfa0f13e17861b172d063b3f6a20bbfe5e3f33

test:
  secret_key_base: e9b8abf8acf46f11b518fe6a97c0f8280530237f2984d298bf3038d73d62fe84f8c660234419df6d063cbd6aed215a6544fe22bcfd869cd0718177e7a771bfc0

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
