/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.brand img {
  height: 20px;
  padding: 10px 20px 10px;
}

.row {
  margin-top: 50px;
  padding-left: 20px;
}

a.btn-primary:visited {
  color: #fff;
}

footer {
  color: #999;
  border-top: 1px solid #ccc;
  margin-top: 40px;
  padding-top: 5px;
  text-align: center;
}

.signout-form {
  text-align: center;
  margin: 0;
}

.table {
  margin-top: 10px;
}

#notice {
  color: green;
}

#error_explanation {
  width: 450px;
  border: 1px solid #b94a48;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 0px 5px 0px 5px;
  font-size: 14px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #b94a48;
  border-color: #000;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.field_with_errors input[type="text"] {
  border-color: #b94a48;
}

.field_with_errors label {
  color: #b94a48;
}

ul.attachments {
  list-style-type: none;
  margin-left: 0;
}

ul.attachments label {
  margin-left: 1em;
}

.fileuploads-more {
  margin-bottom: 20px;
}
