/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.row {
  margin-top: 50px;
  padding-left: 20px;
}

a.btn-primary:visited {
  color: #fff;
}

footer {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 5px;
  text-align: center;
}

.logout {
  float: right;
  font-size: 16px;
  text-shadow: 0 -1px 0;
  padding: 10px 20px 0px;
}

.table {
  margin-top: 10px;
}
