/*
 * =require bootstrap_and_overrides
 */

body {
  padding-top: 60px;
}
@media (max-width: 980px) {
  body {
    padding-top: 0;
  }
}

.navbar {
  .brand {
    padding: 0;
    img {
      height: 20px;
      padding: 10px 20px 10px;
    }
  }
  .container h3, .container h4 {
    display: inline;
  }
}

.h3-right {
  padding-top: 10px;
}
.navbar-h4 {
  margin-bottom: 2px;
}

.copy-button {
  padding: 2px 6px;
}

pre.run {
  margin-bottom: 20px;
}

footer {
  color: #aaa;
  border-top: 1px solid #dfdfdf;
  margin-top: 40px;
  padding-top: 5px;
  text-align: center;
}

.table {
  margin-top: 10px;
}

#notice {
  color: green;
}

#error_explanation {
  width: 450px;
  border: 1px solid #b94a48;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    font-size: 14px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #b94a48;
    border-color: #000;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.field {
  margin-bottom: 17px;
  label {
    font-weight: bold;
  }
}

.field_with_errors {
  input[type="text"] {
    border-color: #b94a48;
  }
  label {
    color: #b94a48;
  }
}

.fileupload {
  margin-bottom: 0;
}

ul.attachments {
  list-style-type: none;
  margin-left: 0;
  label {
    margin-left: 1em;
  }
}

.CodeMirror {
  height: auto;
  border: 1px solid #ddd;
}

.logs-toolbar form {
  margin-bottom: 0;
}
.grep-log-form {
  display: inline;
}
.auto-width {
  width: 100px;
}
.auto-width:focus {
  width: 300px;
  transition-property: width;
}

.search-result {
  margin-bottom: 20px;
}
.search-result-title {
  font-size: 1.1em;
}
.search-box {
  margin-top: 20px;
}
