:root {
  --sunline-pre-background-color: #f5f5f5;
  --sunline-pre-border-color: #ccc;
  --sunline-pre-text-color: #333;
  --sunline-footer-border-color: #dfdfdf;
  --sunline-footer-text-color: #aaa;
  --sunline-cm-editor-border-color: #ddd;
}
[data-bs-theme=dark] {
  --sunline-pre-background-color: #212529;
  --sunline-pre-border-color: #343a40;
  --sunline-pre-text-color: #f8f9fa;
  --sunline-footer-border-color: #343a40;
  --sunline-footer-text-color: #868e96;
  --sunline-cm-editor-border-color: #495057;
}

a:not([class*="btn"]) {
  text-decoration: none;
}
a:not([class*="btn"]):hover {
  text-decoration: underline;
}

.navbar {
  .container {
    padding-left: 0;
    padding-right: 15px;
  }
  .navbar-brand {
    padding: 0;
    img {
      height: 50px;
      padding: 15px;
    }
  }
}

.page-title {
  display: flex;
  justify-content: space-between;

  &-right-menu {
    margin: 10px 0;
  }
}

pre {
  background-color: var(--sunline-pre-background-color);
  border: 1px solid var(--sunline-pre-border-color);
  color: var(--sunline-pre-text-color);
  border-radius: 4px;
  padding: 9.5px;
}

footer {
  color: var(--sunline-footer-text-color);
  border-top: 1px solid var(--sunline-footer-border-color);
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
#logs-table {
  animation: fadein 300ms linear 0s 1;
}

.field_with_errors {
  input[type="text"] {
    border-color: #b94a48;
  }
  label {
    color: #b94a48;
  }
}

.cm-editor {
  height: auto;
  border: 1px solid var(--sunline-cm-editor-border-color);

  .cm-content {
    font-family: "Consolas";
  }

  &.cm-editor.cm-focused {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    outline: 0;
  }
}
[data-bs-theme=dark] .cm-content {
  caret-color: var(--sunline-pre-text-color);
}
[data-bs-theme=dark] .cm-editor .cm-gutters {
  background-color: var(--sunline-cm-editor-border-color);
  color: #868e96;
  border-right: 1px solid var(--sunline-cm-editor-border-color);
}

.auto-width {
  width: 100px;
}
.auto-width:focus {
  width: 300px;
  transition-property: width;
}

.search-result-title {
  font-size: 1.1em;
}
