body {
  padding-top: 20px;
}

a:not([class*="btn"]) {
  text-decoration: none;
}
a:not([class*="btn"]):hover {
  text-decoration: underline;
}

.navbar {
  .container {
    padding-left: 0;
    padding-right: 15px;
  }
  .navbar-brand {
    padding: 0;
    img {
      height: 50px;
      padding: 15px;
    }
  }
}

.page-title {
  display: flex;
  justify-content: space-between;

  &-right-menu {
    margin: 10px 0;
  }
}

.copy-button {
  padding: 2px 6px;
}

pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  padding: 9.5px;
}

pre.run {
  margin-bottom: 20px;
}

footer {
  color: #aaa;
  border-top: 1px solid #dfdfdf;
  margin-top: 40px;
  padding-top: 5px;
  text-align: center;
}

.table {
  margin-top: 10px;
}

@-webkit-keyframes fadein {
	0%{
		opacity:0;
	}
	75%{
		opacity:0.5;
	}
	100% {
		opacity:1;
	}
}
#logs-table {
  -webkit-animation: fadein 300ms linear 0s 1;
}

#notice {
  color: green;
}

.field {
  margin-bottom: 17px;
  label {
    font-weight: bold;
  }
}

.field_with_errors {
  input[type="text"] {
    border-color: #b94a48;
  }
  label {
    color: #b94a48;
  }
}

ul.attachments {
  list-style-type: none;
  padding-left: 0;
}

.fileinput {
  display: block;
}

.cm-editor {
  height: auto;
  border: 1px solid #ddd;

  .cm-content {
    font-family: "Consolas";
  }

  &.cm-editor.cm-focused {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0;
  }
}

.form-btn-inline-block {
  display: inline-block;
}

.logs-toolbar form {
  margin-bottom: 0;
}
.grep-log-form {
  display: inline;
}
.auto-width {
  width: 100px;
}
.auto-width:focus {
  width: 300px;
  transition-property: width;
}

.search-result {
  margin-bottom: 20px;
}
.search-result-title {
  font-size: 1.1em;
}
.search-box {
  margin-top: 20px;
}
