name: CI

on: [push]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  ci:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: './.node-version'
      - run: bundle install --jobs 4 --retry 3 --path vendor/bundle
      - run: bundle exec rake db:migrate RAILS_ENV=test
      - run: bundle exec rake spec
